           
.master{
    height: 90px; 
    width: 700px;
    margin-left: 300px;
    position: relative;
    z-index: 0;
}

.slave{
    height: 90px; 
    width: 700px;
    margin-left: 300px;
    position: absolute;
    background-color:rgb(238, 236, 236);
    text-align: center;
    box-shadow: 2px 2px 5px;
}
.clock {
    border-radius: 100%;
    background: #fff url(clockbg.png) no-repeat center;
    background-size: 100%;
    height: 20em;
   
    position: relative;
    width: 20em;
  }
  
  .clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }
  .minutes-container, .hours-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }
  .minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }
  
  @keyframes rotate1 {
    100% {
      transform: rotateZ(15deg);
    }
    
  }
  .hours-container {
    animation: rotate1 5s infinite linear;
  }
  .minutes-container {
    animation: rotate2 5s infinite linear;
  }
  
  @keyframes rotate2 {
    100% {
      transform: rotateZ(180deg);
    }
    
  }
  
  