.master{
    height: 90px; 
    width: 700px;
    margin-left: 300px;
    position: relative;
    z-index: 0;
}

.slave{
    height: 90px; 
    width: 700px;
    margin-left: 300px;
    position: absolute;
    background-color:rgb(238, 236, 236);
    text-align: center;
    box-shadow: 2px 2px 5px;
}
.popup1 {
  height: 50px;
  width: 350px;
  background-color: #aacef1;
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
  border-radius: 30px;
  margin-top: 300px; 
  margin-left: 585px;
  position: absolute;
  box-shadow:  2px 3px rgb(22, 16, 16); 
  /* border-style: solid; */
}
#popup2 {
  height: 30px;
  width: 250px;
  background-color: #f9fad8;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 50px; 
  margin-left: 5px;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px; color: #000000;
  text-align:justify; 
  border-style: solid; 
}
#svg3{
  height: 300px;
  width: 1000px;
  background-color: #f9fad8;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 150px; 
  margin-left: 100px;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px; color: #000000;
  text-align:justify; 
  border-style: solid; 

}
#svg4{
  height: 300px;
  width: 1000px;
  background-color: #f9fad8;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 150px; 
  margin-left: 100px;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px; color: #000000;
  text-align:justify; 
  border-style: solid; 

}

  


.tooltipster-sidetip.tooltipster-punk
.tooltipster-box{
  border-bottom:3px solid #50E3C2;  /*colored line at popup bottom*/
  background:#fff  /*background of popup*/
  }

 /*arrow and border color depending on where the tooltip opens (for example above or below the element)*/
.tooltipster-sidetip.tooltipster-punk.tooltipster-top
.tooltipster-arrow-border{border-top-color:#50E3C2}

.tooltipster-sidetip.tooltipster-punk.tooltipster-bottom
.tooltipster-arrow-border{border-bottom-color:#fff}

.tooltipster-sidetip.tooltipster-punk.tooltipster-left
.tooltipster-arrow-border{border-left-color:#fff}

.tooltipster-sidetip.tooltipster-punk.tooltipster-right
.tooltipster-arrow-border{border-right-color:#fff}

.tooltipster-sidetip.tooltipster-punk
.tooltipster-content{color:#000;padding:8px 16px; font-family:'Arial';text-align: center;}

.clock {
  border-radius: 100%;
  background: #fff url(clockbg.png) no-repeat center;
  background-size: 100%;
  height: 20em;
 
  position: relative;
  width: 20em;
}


.minutes-container, .hours-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  
  width: 2.5%;
}
.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
 
  width: 2%;
}

@keyframes rotate1 {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
  
}
.hours-container {
  animation: rotate1 5s infinite linear;
}
.minutes-container {
  animation: rotate2 5s infinite linear;
}

@keyframes rotate2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
  
}





.clock1 {
  border-radius: 100%;
  background: #fff url(clockbg.png) no-repeat center;
  background-size: 100%;
  height: 20em;
 
  position: relative;
  width: 20em;
}

.clock1.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes1-container, .hours1-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours1 {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}
.minutes1 {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

@keyframes rotate3 {
  100% {
    transform: rotateZ(1deg);
  }
  
}
.hours1-container {
  animation: rotate3 5s infinite linear;
}
.minutes1-container {
  animation: rotate4 5s infinite linear;
}

@keyframes rotate4 {
  100% {
    transform: rotateZ(42deg);
  }
  

}




















.clock3 {
  border-radius: 100%;
  background: #fff url(clockbg.png) no-repeat center;
  background-size: 100%;
  height: 20em;
 
  position: relative;
  width: 20em;
}

.clock3.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes3-container, .hours3-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours3 {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}
.minutes3 {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

@keyframes rotate6 {
  100% {
    transform: rotateZ(15deg);
  }
  
}
.hours3-container {
  animation: rotate6 5s infinite linear;
}
.minutes3-container {
  animation: rotate7 5s infinite linear;
}

@keyframes rotate7 {
  100% {
    transform: rotateZ(180deg);
  }
  
}